/* Estándar de temas */
:root, 
:root.light {
    --color1: #F2055C ;
    --color2: #9F2ABF;
    --color3: #4DBF3B;
    --color4: #ffaa00;
    --color5: #0091ff;  
    --color6: #ffffff;  
      
    --color1-t1: #ff7db3dd;
    --color2-t1: #ff5fffd8    ;
    --color3-t1: #6affa3d8  ;
    --color4-t1: #ffed65e0 ;
    --color5-t1: #65ffffe0 ;

    --color1-t2: #ff6da32c;
    --color2-t2: #c800ff25    ;
    --color3-t2: #22ff0027  ;
    --color4-t2: #fffb0031 ;
    --color5-t2: #68cdff31 ; 
    --text-color1:#49494a;
    --textcontraste: #ffffff ;
    --text-color2:rgb(0, 195, 255) ;
    --sombra: #c9c9c9ce ;
    --boton: #00ce29 ;


  }
   
  :root.dark {
    --base1: #04212f;
    --base2: #000b1e;
    --base3: #000b1e;
    --base4: #000b1e;
    --base1-t: #f23558eb;
    --base2-t: #f2b705e4    ;
    --base3-t: #000918c7   ;
    --base4-t: #6C7D8C ;
    --text:  #ffffff;
    --textcontraste: #ffffff ;
    --text-color:rgb(0, 255, 234) ;
    --sombra: #00b3ff93 ;
  }  
  
html{
  box-sizing: border-box;  
}

body { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  width: 100%;
  font-size: 18px;
}

#root {
    position: absolute;
    top: 0;
    margin-top:0;
    width: 100%;
 
}