/* Parametros del header */
.navbar {
  width: 100%;
    position: fixed;
    overflow: hidden;
    padding: 20px 10px;
    margin: 0;
    z-index:100;
    border-bottom: 1px solid var(--base1-t);
    transition: all 0.5s;
}


#logo {
  position: relative;
}


@media (max-width: 991.5px) { 
  #logo{display: none;}

}


.animacionScroll{
  background: rgba(255, 255, 255, 0.777);
  padding: 10px 5px;
  transition: all 0.5s;
  border-radius: 0 0 1em 1em;
  border-bottom: 0;

}


#bannerImg{
  transition: all 2s;
  transition: ease-in;
  animation-name: bannerImgAnimation;
  animation-duration: 8s;
  animation-iteration-count: 1;

}


@keyframes bannerImgAnimation {
  10%{transform: scale(1.0)}
  60%{  transform: scale(1.2)}
  100%{transform: scale(1.0);} 
}
